{{#if success_message}}
<div class="alert alert-success">
    {{success_message}}
</div>
{{/if}}
{{#if success_fake_message}}
<div class="alert alert-success">
    {{success_fake_message}}
</div>
{{/if}}
{{#if success_edit_message}}
<div class="alert alert-success">
    {{success_edit_message}}
</div>
{{/if}}
{{#if success_delete_message}}
<div class="alert alert-success">
    {{success_delete_message}}
</div>
{{/if}}
{{#if error_message}}
<div class="alert alert-danger">
    {{error_message}}
</div>
{{/if}}
{{#if error}}
<div class="alert alert-danger">
    {{error}}
</div>
{{/if}}